# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb


# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment
.env
.venv/
venv/

# Misc
*.swp
*.bak
*.tmp
